*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

header{
    background-color: #222;
    display: grid;
    grid-template-columns:120px auto;
    overflow: hidden;
}
.header_logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.logo{
    height: 60px;
    width: auto;
}
.logo img{
    height:100%;
    width: auto;
}
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav_menu a{
    color: #fff;
    text-decoration: none;
}
.nav_menu ul{
    list-style: none;
    display: flex;
}
.nav_menu ul li{
    margin: 20px;
    padding: 4px 10px;
    position: relative;
}  

.nav_menu ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28px;
    left: -22px;
    height: 0px;
    overflow: hidden;
    color: #222;
    background-color: #333;
    transition: all 0.3s;
}
.nav_menu ul li ul a{
    color: #fff;
}
.nav_menu ul li:hover > ul{
    height: 200px;
}

.mobile_menu{
   display: none;
}

.mobile_menu i{
    color: #fff;
    margin-right: 30px;
}



@media screen and (max-width: 600px){
    #menu{
        height: 0vh;
        transition: all 0.5s;
    }

    .mobile_menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
     }

     body{
        position: relative;
    }

    .nav_menu{
        position: absolute;
        top: 60px;
        width: 100%;
        background: #444;
        justify-content: flex-start;
    }

     .nav_menu ul{
        display: flex;
        flex-direction: column;
    }
}


/* .mobile_menu{
    display: flex;
    align-items: center;
    display: none;
}
.mobile_menu i{
    color: #fff;
} */

/* @media screen and (max-width: 600px){
  body{
    position: relative;
  }
  header{
    grid-template-columns:120px auto;
  }
  .nav_menu{
    position: absolute;
    left: 0px;
    top: 60px;
    background: #444;
    width: 100vw;
    justify-content: flex-start;
    height: 0vh;
    overflow: hidden;
  }

  .nav_menu ul{
    flex-direction: column;
    }
    .mobile_menu{
        display: flex;
        margin-right: 30px;
        justify-content: flex-end;
    }
} */
